:root {

  --color-red: #cc0000;
  --color-yellow: #FFDe00;
  --color-blue: #3b4cca;
  --color-darkgrey: rgb(51, 49, 49);
  --color-black: #000;
  --color-white: #eee;
}

* {
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    height: 120px;
    width: 100%;
  }

  .navbar{
    background-color: #cf0b0b;
    margin-bottom: 30px;
  
  }
  
  .nav-logo {
    height: 120px;
    width: auto;
    float: left;
  }

  .submit {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: var(--color-blue);
    text-transform: capitalize;
    background-color: var(--color-yellow);
    border: none;
    border-radius: 5px;
    list-style-type: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: transform 250ms;
    will-change: transform;
  }

  .button-class {
    background-color: #3b4cca;
    border: none;
    border-radius: 10px;
    color: #ffde00;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-variant: small-caps;
    width: 200px;
  }

  li {
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  html, body {
  font-family: Arial, sans-serif;
}

.modal-content {
  background-color: var(--color-white);
}

h5.modal-title {
  font-weight: bold;
  font-variant: small-caps;
}

p {
  color: var(--color-black);
  text-align: left;
  font-size: 1.25rem;
}

body {
  font-weight: 400;
  color: var(--color-red);
  font-size: 16px;
  background-color: var(--color-black);
  transition: width 2s;
  font-variant: small-caps;
  margin-top: 30px;
}



.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: var(--color-blue);
  text-transform: capitalize;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 5px;
  list-style-type: none;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  transition: transform 250ms;
  will-change: transform;
}

.btn:hover , .btn:active {
  color: var(--color-blue);
  background-color: var(--color-yellow);
  transition: transform 125ms;
  transform: translateY(-10px);
}

button.btn.btn-secondary {
  background-color: var(--color-yellow);
  box-shadow: none;
}

button.btn.btn-secondary:hover,  button.btn.btn-secondary:active{
  background-color: var(--color-yellow);
  color: var(--color-blue);
}

img.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4.card-title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.card {
  margin: 15px;
}

div.row {
  flex-direction: row;
  justify-content: space-evenly;
}